# secrets
.env
*.env
credentials.json
token.json

# artefatos locais
/data/raw_api/
/data/raw_email/
/data/*.json

# venv
.venv/

# python cache
__pycache__/
*.pyc
*.pyo

# outros
*.log
.DS_Store
Thumbs.db
